<div style="text-align: center; background-color: #559cff; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 10px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Lab Final - Introduction To Data Science @ FIT-HCMUS, VNU-HCM ðŸ“Œ
</div>

<div style="text-align: center; background-color: #b1d1ff; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Stage 02 - Preprocessing
</div>

## Import

In [1]:
import os
import sys

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# YOUR CODE HERE (OPTION) 
# If you need other libraries, you can import them here
import seaborn as sns

## Exploring your data

### Read raw data from file

In [2]:
raw_df = pd.read_csv('../Data/raw_data.csv', sep=',',engine='python', encoding='utf-8')

In [3]:
raw_df.head(5)

,name,field,enrollment,language,rating,level,duration,description,skill,instructor,offered by
0,Cyber Threat Intelligence,Information Technology > Security,"52,299 already enrolled",Taught in English,4.7,Beginner level,25 hours (approximately),NaN,"Cybersecurity, network defensive tactics, thre...",4.5 {'IBM Skills Network Team'},IBM
1,Network Security,Information Technology > Security,"6,909 already enrolled",Taught in English,4.7,Beginner level,8 hours (approximately),NaN,"Cyberattacks, Network Security, Threat",4.9 {'(ISC)Â² Education & Training'},ISC2
2,Security Principles,Information Technology > Security,"12,400 already enrolled",Taught in English,4.7,Beginner level,5 hours (approximately),NaN,"Risk, security, governance, Information Assurance",4.6 {'(ISC)Â² Education & Training'},ISC2
3,"Grow Your Business with Goldman Sachs 10,000 W...",Business > Entrepreneurship,"50,738 already enrolled",Taught in English,4.8,NaN,Approx. 4 hours to complete,Develop your community and discuss the value o...,None,None,None
4,Explore a potential growth opportunity for yo...,"Opportunity Identification, Strategic Thinking...","4.8 {'Mori Taheripour', 'Goldman Sachs 10,000...",Goldman Sachs,NaN,None,None,None,None,None,None

### What does each column mean?
    - name: 
    - field
    - enrollment:
    - language
    - rating
    - level
    - duration
    - description
    - skill
    - instructor
    - offered by

### How many rows and how many columns does the raw data have?

In [4]:
raw_df.shape

(8014, 11)

### Are there any columns need to drop?

There are two columns `description`, `skill`. Both of them has high ratio of missing value (about 50%) and values in each column are long strings which cause difficulty to process or to get keywords so we will drop these two columns.

In [5]:
# Drop description, skill columns
raw_df.drop(['description','skill'], axis = 1, inplace=True)

### Does the raw data have duplicate rows?

Check data if they has duplicated rows then store in the variable `is_duplicated`. If the variable is True, drop these rows (the first line is not counted as repeated).

In [6]:
is_duplicate = raw_df.duplicated().any()
if is_duplicate:
    print(f"Data have duplicated. Please de-deduplicate it.!")
else:
    print(f"Data have no duplicated row.")

Data have duplicated. Please de-deduplicate it.!

In [7]:
# Drop dupliacated row
raw_df.drop_duplicates(inplace=True)

In [8]:
raw_df.shape

(8010, 9)

### What data type does each column currently have? Are there any columns whose data types are not suitable for further processing?

In [9]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8010 entries, 0 to 8013
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        8004 non-null   object
 1   field       7986 non-null   object
 2   enrollment  5468 non-null   object
 3   language    7991 non-null   object
 4   rating      5718 non-null   float64
 5   level       6640 non-null   object
 6   duration    7975 non-null   object
 7   instructor  7959 non-null   object
 8   offered by  7959 non-null   object
dtypes: float64(1), object(8)
memory usage: 625.8+ KB

### Process unsuitable type to numeric

- First, we will parse the `duration`and `enrollment` columns to get their numeric values. Then both will convert to `int`.

- We also split `instructor` column.
    - Let's take a look at this columns, it has a pair of values: rating score of instructor and instructor.
    - We will split it into two columns: `instructor ` and  `instructor_rate`.
    - They have `object` and `float` respectively.

In [10]:
# Get the numeric of enrollment
raw_df['enrollment'] = raw_df['enrollment'].replace(to_replace=[None], value=np.nan)
raw_df['enrollment'] = raw_df['enrollment'].str.extract('(\d+,\d+)')
try:
    raw_df['enrollment'] = pd.to_numeric(raw_df['enrollment'].replace(',', '', regex=True), errors='coerce').astype('Int64')
except ValueError:
    raw_df['enrollment'] = None

# Get the numeric of duration
raw_df['duration'] = raw_df['duration'].replace(to_replace=[None], value=np.nan)
raw_df['duration'] = raw_df['duration'].str.extract('(\d+)')
try:
    raw_df['duration'] = pd.to_numeric(raw_df['duration'], errors='coerce').astype('Int64')
except ValueError:
    raw_df['duration'] = None

In [11]:
# Split instructor  into  instructor and  instructor_rate
raw_df['instructor_rate'] = raw_df['instructor'].str.replace(r'\{(.+)\}', '', regex=True)
raw_df['instructor_rate'] = raw_df['instructor_rate'].str.strip()

raw_df['instructor'] = raw_df['instructor'].str.extract(r'\{(.+)\}')
raw_df['instructor'] = raw_df['instructor'].str.replace("'", '')

# Astype 'instructor_rate' to float
raw_df['instructor_rate'] = pd.to_numeric(raw_df['instructor_rate'], errors='coerce')
raw_df['instructor_rate'] = raw_df['instructor_rate'].astype(float)

In [12]:
#test 
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8010 entries, 0 to 8013
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             8004 non-null   object
 1   field            7986 non-null   object
 2   enrollment       5453 non-null   Int64
 3   language         7991 non-null   object
 4   rating           5718 non-null   float64
 5   level            6640 non-null   object
 6   duration         7975 non-null   Int64
 7   instructor       7959 non-null   object
 8   offered by       7959 non-null   object
 9   instructor_rate  5121 non-null   float64
dtypes: Int64(2), float64(2), object(6)
memory usage: 704.0+ KB

### We completed to convert numeric columns. 

### For each column with numeric data type, how are the values distributed?

For columns with numeric data types, we will calculate:
- Percentage (from 0 to 100) of missing values
- The min
- The lower quartile (phÃ¢n vá»‹ 25)
- The median (phÃ¢n vá»‹ 50)
- The upper quartile (phÃ¢n vá»‹ 75)
- The max

The results will be saved to a DataFrame `num_col_info_df`, where:
- The names of the columns are the names of the numeric columns in `raw_df`
- Names of rows: "missing_ratio", "min", "lower_quartile", "median", "upper_quartile", "max"  

For ease of viewing, you round all values to 1 decimal place using the `.round(1)` method.

In [13]:
def missing_ratio(df):
    return (df.isnull().sum()*100/len(df)).round(1)

def lower_quartile(df):
    return df.quantile(0.25).round(1)

def median(df):
    return df.quantile(0.5).round(1)

def upper_quartile(df):
    return df.quantile(0.75).round(1)

In [14]:
# YOUR CODE HERE
num_col_info_df = raw_df.select_dtypes(include=np.number)
num_col_info_df = num_col_info_df.agg([missing_ratio, "min", lower_quartile, median, upper_quartile, "max"])

In [15]:
num_col_info_df

                enrollment  rating  duration  instructor_rate
missing_ratio         31.9    28.6       0.4             36.1
min                 1002.0     3.0       1.0              1.4
lower_quartile      4710.0     4.6       8.0              4.6
median             13220.0     4.7      13.0              4.7
upper_quartile     36281.0     4.8      20.0              4.8
max               973927.0     5.0     127.0              5.0

Let's take a look at the table. We have there columns has quite high missing ratio but for futher processing (training, analyzing..) we will **drop** all rows that have none rating value.

In [16]:
# drop rows with none rating
raw_df.dropna(subset=['rating'], inplace=True)
raw_df.shape

(5718, 10)

Now, take a look again DataFrame `num_col_info_df`.

In [17]:
# YOUR CODE HERE
num_col_info_df = raw_df.select_dtypes(include=np.number)
num_col_info_df = num_col_info_df.agg([missing_ratio, "min", lower_quartile, median, upper_quartile, "max"])
num_col_info_df

                enrollment  rating  duration  instructor_rate
missing_ratio          7.7     0.0       0.0             11.2
min                 1002.0     3.0       1.0              1.7
lower_quartile      5124.0     4.6       9.0              4.6
median             13926.0     4.7      14.0              4.7
upper_quartile     37704.0     4.8      20.0              4.8
max               973927.0     5.0     127.0              5.0

After remove useless rows, our dataframe still have missing values. So that, we need to fill these missing values so that they can be used in analysis.

- Fill `enrollment` and `instructor_rate` by median.

In [18]:
def filling_missing_value(df: pd.DataFrame) -> pd.DataFrame:
    """Filling missing features from Pandas dataframe
    
    The first, you need to replace all None values with NaN, fillna only works on nans.
    
    After that, you replace all NaN values with the mean of the column values.

    Args:
        df (pd.DataFrame): Input dataframe for processing.

    Returns:
        pd.DataFrame: Updated dataframe
    """
    numeric_cols = df.select_dtypes(exclude='object').columns   # choose numeric columns
    df[numeric_cols] = df[numeric_cols].replace(to_replace=[None], value=np.nan)
    df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].median())
    return df

In [19]:
raw_df = filling_missing_value(df = raw_df)

In [20]:
# TEST
raw_df.select_dtypes(exclude='object').agg([missing_ratio, "min", lower_quartile, median, upper_quartile, "max"])

                enrollment  rating  duration  instructor_rate
missing_ratio          0.0     0.0       0.0              0.0
min                 1002.0     3.0       1.0              1.7
lower_quartile      5612.5     4.6       9.0              4.6
median             13926.0     4.7      14.0              4.7
upper_quartile     34392.0     4.8      20.0              4.8
max               973927.0     5.0     127.0              5.0

### Preprocess non numeric columns

Value in `field` column has the same format: `general_field` > `specitfy_field`.
- For analyzing, we will **split** `field` into two columns `general` and `specify`.
- Then drop `field` columns

In [21]:
# split into two columns
raw_df[['general', 'specify']] = raw_df['field'].str.split(' > ', expand = True)

# drop field column
raw_df.drop(['field'], axis= 1,inplace=True)

In [22]:
# test 
raw_df.columns

Index(['name', 'enrollment', 'language', 'rating', 'level', 'duration',
       'instructor', 'offered by', 'instructor_rate', 'general', 'specify'],
      dtype='object')

### For each column with a non-numeric data type, how are the values distributed?

For columns with non-numeric data types, calculate:
- Percentage (from 0 to 100) of missing values
- Number of values (the values here are different values and we do not consider missing values): with columns whose type is categorical, it is a set with a finite number of categories. 
- The percentage (from 0 to 100) of each value is sorted by decreasing percentage (we do not consider missing values, the ratio is the ratio compared to the number of non-missing values): use a dictionary to store , key is the value, value is the percentage; With the column corresponding to each type, the method is similar to above.

You will save the results to DataFrame `cat_col_info_df`, where:
- The names of the columns are the names of the non-numeric columns in `raw_df`
- The names of the lines are: "missing_ratio", "num_values", "value_ratios"

For ease of viewing, you round all values to 1 decimal place using the `.round(1)` method.

In [23]:
def num_values(df):
    return df.nunique()
def value_ratios(df):
    value_counts = df.value_counts(normalize=True)*100
    value_ratios = value_counts.round(1).to_dict()
    value_ratios = dict(sorted(value_ratios.items(), key=lambda item: item[1], reverse=True))
    return value_ratios

In [24]:
pd.set_option('display.max_colwidth', 100) # For clearly

In [25]:
# YOUR CODE HERE
cat_col_info_df = raw_df.select_dtypes(include='object')

cat_col_info_df = cat_col_info_df.agg([missing_ratio, num_values, value_ratios])
cat_col_info_df

,name,language,level,instructor,offered by,general,specify
missing_ratio,0.0,0.0,20.6,0.3,0.3,0.0,0.0
num_values,5703,20,3,3030,331,11,45
value_ratios,"{'Software Defined Networking': 0.0, 'Supply Chain Planning': 0.0, 'Competitive Strategy': 0.0, ...","{'Taught in English': 75.2, 'Taught in Spanish': 11.2, 'Taught in Portuguese (Brazilian)': 2.9, ...","{'Beginner level': 65.0, 'Intermediate level': 31.1, 'Advanced level': 3.9}","{'Google Career Certificates': 3.8, 'Google Cloud Training': 3.4, 'Alfaisal.KLD': 1.1, ' Microso...","{'Google': 4.2, 'Google Cloud': 3.4, 'University of Colorado Boulder': 3.3, 'University of Illin...","{'Business': 25.6, 'Computer Science': 14.7, 'Data Science': 11.0, 'Health': 10.4, 'Physical Sci...","{'Leadership and Management': 7.7, 'Software Development': 6.8, 'Data Analysis': 6.5, 'Business ..."

### Fill missing value in categorical columns

In `cat_col_info_df` DataFrame above, column `level` has three unique values and still has missing. We will fill None with `Other`.

In [26]:
# fill none by 'Other'
raw_df['level'] = raw_df['level'].fillna('Other')

In [27]:
# test
raw_df['level'].isnull().sum()

0

### Which columns can be optimized?

Let's take a look at data.

In [28]:
raw_df.head(4)

,name,enrollment,language,rating,level,duration,instructor,offered by,instructor_rate,general,specify
0,Cyber Threat Intelligence,52299,Taught in English,4.7,Beginner level,25,IBM Skills Network Team,IBM,4.5,Information Technology,Security
1,Network Security,6909,Taught in English,4.7,Beginner level,8,(ISC)Â² Education & Training,ISC2,4.9,Information Technology,Security
2,Security Principles,12400,Taught in English,4.7,Beginner level,5,(ISC)Â² Education & Training,ISC2,4.6,Information Technology,Security
3,"Grow Your Business with Goldman Sachs 10,000 Women",50738,Taught in English,4.8,Other,4,NaN,None,4.7,Business,Entrepreneurship

In `language` and `level` columns, we can reduce the size of data by removing some words like: 'Taught in', 'level'. Without these words, our data are still meaningful.

In [29]:
# remove useless words
raw_df['level'] = raw_df['level'].str.replace('level', '').str.strip()
raw_df['language'] = raw_df['language'].str.replace('Taught in', '').str.strip()

In [30]:
#test

### Save processed data

Reorder columns for easily understanding

In [31]:
col = ['name','general','specify','enrollment',
       'language','rating','level','duration',
       'instructor','instructor_rate','offered by']
raw_df = raw_df[col]

In [32]:
print(f"Total number of features: {raw_df.shape[1]}")
raw_df.dtypes

Total number of features: 11

name                object
general             object
specify             object
enrollment           Int64
language            object
rating             float64
level               object
duration             Int64
instructor          object
instructor_rate    float64
offered by          object
dtype: object

In [33]:
# save to csv
raw_df.to_csv('../Data/processed_data.csv', index=False)