In [1]:
import os
import sys

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# YOUR CODE HERE (OPTION) 
# If you need other libraries, you can import them here
import seaborn as sns

- Đọc dữ liệu từ file đã tiền xử lý

In [4]:
courses_df = pd.read_csv('../Data/processed_data.csv', sep=',',engine='python', encoding='utf-8')
courses_df.columns

Index(['name', 'enrollment', 'language', 'rating', 'level', 'duration',
       'instructor', 'offered by', 'instructor_rate'],
      dtype='object')

# **MAKING QUESTIONS**

## **Question 4:**
People have a saying: “It's the first step that counts.” Beginners always have the mentality of choosing the right course by considering the number of people registering for this course and whether it is offered by a reputable University or not. **Therefore, prestigious schools have more students enrolling in their courses, don't they?**
- **_Answering this question will help_** beginners have a basis to believe whether their course selection criteria are appropriate, from which they can adjust their course selection criteria accordingly.
- **_How we answer this question:_** We will evaluate based on the correlation between the reputation of the University provided in Q1 and the total number of `enrollment` students of the University.

### **_Step 01:_**

In [17]:
# Reputation of each University
rating_df = courses_df[['offered by', 'rating']].groupby(by='offered by').mean().sort_values(by='rating', ascending=False)

# Compute sum enrollment of each University
enrollment_df = courses_df[['offered by', 'enrollment']].groupby(by='offered by').sum().sort_values(by='enrollment', ascending=False)

# Merge df
uni_df = pd.concat([rating_df, enrollment_df], axis=1)
uni_df

                                       rating  enrollment
offered by
The Pennsylvania State University    4.900000       54160
Curtis Institute of Music            4.900000       87976
L&T EduTech                          4.900000        2090
Deep Teaching Solutions              4.850000       31600
Yale University                      4.842857     1220950
...                                       ...         ...
National Academy of Sports Medicine  4.100000       16630
USO                                  4.100000        1948
NIIT                                 3.850000        8884
Illinois Tech                        3.800000        1954
Databricks                           3.700000        3823

[232 rows x 2 columns]